@using BookStoreProject.BLL.ViewModels.PublisherVMS
@model IEnumerable<PublisherReadVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Publishers</h2>
<a class="btn btn-primary" href="/Publishers/Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>

                    <a class="btn btn-success" href="@Url.Action("Edit", "Publishers",   new { id = item.Id } ) ">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Publishers" , new { id = item.Id }) ">Delet</a>
                    <a class="btn btn-warning" href="@Url.Action("Details", "Publishers", new { id = item.Id })">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
